---
siteTitle: Chris Burgess
layout: base.njk
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ siteTitle }}</title>
</head>
<body>
<h1>{{ siteTitle }}</h1>

{{ content | safe }}

</body>
</html>
