<ol reversed class="projectlist" style="counter-reset: start-from {{ (projectlistCounter or projectslist.length) + 1 }}">
{% for project in projectslist | reverse %}
	<li class="projectlist-item{% if project.url == url %} projectlist-item-active{% endif %}">
		<a href="{{ project.url }}" class="projectlist-link">{% if project.data.name %}{{ project.data.name }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
		<time class="projectlist-date" datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate("LLLL yyyy") }}</time>
	</li>
{% endfor %}
</ol>
